Source: cocaine-framework-cpp
Section: utils
Priority: extra
Maintainer: Evgeny Safronov <division494@gmail.com>
Build-Depends: cmake, cdbs, debhelper (>= 7.0.13),
 libboost-dev,
 libboost-thread-dev,
 libboost-program-options-dev,
 libcocaine-dev (>= 0.12),
 blackhole4-dev
Standards-Version: 3.9.3
Vcs-Git: git://github.com/cocaine/cocaine-framework-native.git
Vcs-Browser: https://github.com/cocaine/cocaine-framework-native

Package: libcocaine-framework-cpp1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cocaine - C++ Framework
 A simple framework to ease the development of C++ Cocaine apps.

Package: libcocaine-framework-cpp-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends},
 libcocaine-dev (>= 0.12),
 libcocaine-framework-cpp1 (= ${binary:Version})
Description: Cocaine - C++ Framework Development Headers
 Cocaine C++ Framework development header files.

Package: libcocaine-framework-cpp-dbg
Architecture: any
Section: debug
Depends: ${shlibs:Depends}, ${misc:Depends},
 libcocaine-framework-cpp1 (= ${binary:Version})
Description: Cocaine - C++ Framework Debug Files
 Cocaine C++ Framework debug files and symbols.
